.modal-header h2{

}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	margin: auto;
	border-radius: 30px;
}

.modal-header h3 {
	font-size: 30px;
	color: blueviolet;
	/* ¸m¤¤ */
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	background-color: burlywood;
}

.modal-body form .account,
.modal-body form .password {
	margin: 30px;
	width: 90%;
	border-radius: 20px;
}

.remember {
	margin-bottom: 20px;
}

.modal-body form .btn {
	
	width: 60%;
	font-size: 25px;
	color: white;
}
